---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
{%- for item in collections.all -%}
{%- if item.url and item.url.endsWith("/") and not item.data.draft %}
  <url>
    <loc>{{ item.url | absUrl(site.url) }}</loc>
    {%- if item.date %}
    <lastmod>{{ item.date | ymd }}</lastmod>
    {%- endif %}
    <changefreq>{% if item.url == "/" %}weekly{% elif "/blog/" in item.url %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if item.url == "/" %}1.0{% elif item.data.tags and "post" in item.data.tags %}0.7{% elif "/blog/category/" in item.url %}0.5{% elif item.url == "/blog/" %}0.8{% else %}0.9{% endif %}</priority>
    {%- if item.data.cover %}
    <image:image><image:loc>{{ item.data.cover | absUrl(site.url) }}</image:loc><image:title>{{ item.data.title }}</image:title></image:image>
    {%- endif %}
  </url>
{%- endif -%}
{%- endfor %}
</urlset>
